
extends layout

block content
	.container
		.row
			.col-sm-12
				#login
					.app-logo
						img(src=`${ROOT_URL}/images/telco.png`)

					.app-name
						.short-title Welcome New User
						.title Register With Your <br> Telco App

		.btn-block
			a(href=authUrl)
				button.btn-login(type='button') Secure Access
			.footer-block Powered by IPification


			




