
extends layout

block content
	.container
		.row
			.col-sm-12
				#login
					.app-logo
						img(src=`${ROOT_URL}/images/logo.svg`)

					.app-name
						.short-title Register with
						.title TELEKOM ME

		.btn-block
			a(href=authUrl)
				button.btn.btn-default.btn-login(type='button') Secure Access
			.footer-block Powered by IPification


			




