
extends layout

block content
	.d-flex.justify-content-center
		.d-flex.align-items-start.flex-column.result-container
				.user-logo
					img(src=`${ROOT_URL}/images/user.svg`)

				.user-info
					.short-title Your Account
					.phone-title Phone
					.user-phone
						= phone_number

					a(href=home_url	)
						button.btn.btn-default.btn-done(type='button') Done


			




